.main {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    max-width: 500px;
    padding: 2rem;
}

.box h2{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 2rem;
}

.box p{
    color: tomato;
    font-size: 1.4rem;
    text-align: center;
}

.box form label {
    color: #555;
    margin-left: .5rem;
}

.box form input {
    margin: .3rem 0 1.5rem 0;
}